## Setup

In [1]:
# Import solution and data

from solution import *
import databank as db

In [2]:
# Pandas import convention

import pandas as pd

### Series

#### Constructor

In [3]:
# Create a Series with index 1, 2, 3, 4 and values of a, b, c, d, using
# the constructor.
# Submission: Series

response = pd.Series() # ONLY MODIFY THE CONSTRUCTOR
#assert_series_constructor_data_value_1(response)

<ipython-input-3-68872fe43306>:5: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  response = pd.Series() # ONLY MODIFY THE CONSTRUCTOR

In [4]:
# Create a Series with index a, b, c, d and values of 1, 2, 3, 4
# Submission: Series

response = pd.Series() # ONLY MODIFY THE CONSTRUCTOR
#assert_series_constructor_data_value_2(response)

<ipython-input-4-e075d68eee22>:4: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  response = pd.Series() # ONLY MODIFY THE CONSTRUCTOR

In [5]:
# Create a Series with the given data. The data is an array of integers but
# your Series must contain data of type float.
# Hint: Check what other parameters the Series constructor takes in.
# Submission: Series

data = [1,2,3,4]
response = pd.Series() # ONLY MODIFY THE CONSTRUCTOR
#assert_series_constructor_dtype_1(response)

<ipython-input-5-78885ce5f328>:7: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  response = pd.Series() # ONLY MODIFY THE CONSTRUCTOR

In [6]:
# Given the following parameters, create an empty Series, and name it 'MySeries'.
# Submission: Series

data = [1,2,3,4]
index = ['a','b','c','d']
dtype = int
response = pd.Series() # ONLY MODIFY THE CONSTRUCTOR
#assert_series_constructor_name_1(response)

<ipython-input-6-6a7cee46ee5c>:7: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  response = pd.Series() # ONLY MODIFY THE CONSTRUCTOR

#### Attributes

In [7]:
# Return a tuple of the shape of the given series object. You must use one of the already available attributes to submit your response. No peeking at the given series object!
# Submission: Series

series = db.shape_data
response = None  # ONLY MODIFY THIS LINE
#assert_series_attribute_shape_1(response)

### Dataframe

#### Constructor

In [8]:
# Create a DataFrame object, where 1, 2, 3 are in the first row, 4, 5, 6,
# are in the second row, and 7, 8, 9 are in the third row.
# Submission: DataFrame

response = pd.DataFrame(
        [[1, 2, 3],
         [4, 5, 6],
         [7, 8, 9]]) # ONLY MODIFY THIS LINE
#assert_dataframe_constructor_1(response)

In [9]:
# Given the same dataframe as above, modify it so that the columns are x, y, and z.
# Submission: DataFrame

response = db.basic_dataframe
response.columns = ['x', 'y', 'z']
#assert_dataframe_constructor_2(response)

### General Functions

#### Viewing Data
##### We will use the iris sample data set to practice using series and dataframes. Although there are multiple workarounds to return the same answer, the point of this exercise is to use the built-in pandas functions to come up with the most concise and elegant solutions.

In [10]:
data = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')

In [11]:
# The data is already in the dataframe type.
type(data)

pandas.core.frame.DataFrame

In [12]:
# Rename the object to df.
df = data
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [13]:
# We will extract a series object from the dataframe.
s = data['sepal_length']
s

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [14]:
# You can confirm here that the object type is Series.
type(s)

pandas.core.series.Series

##### We now have our dataframe and series object to practice with.

In [15]:
# Return the first 10 rows of the original DataFrame.
# Hint: The function name is a part of your body!
# Submission: DataFrame

respone = None
response = df.head(10)
assert_dataframe_viewing_1(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

Correct answer:
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [16]:
# Return the last 10 rows of the original DataFrame.
# Hint: Some animals have this body part, but you don't!
# Submission: DataFrame

respone = None
response = df.tail(10)
assert_dataframe_viewing_2(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
     sepal_length  sepal_width  petal_length  petal_width    species
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

Correct answer:
     sepal_length  sepal_width  petal_length  petal_width    species
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [17]:
# Return the # of rows and columns in the form of tuple.
# Submission: Tuple

respone = None
response = df.shape
assert_dataframe_viewing_3(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
(150, 5)

Correct answer:
(150, 5)

In [18]:
# What is the dtype for the species column?
# Submission: Str

respone = None
response = 'object'
assert_dataframe_viewing_4(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
object

Correct answer:
object

In [19]:
# What is the 75 percentile for petal_length?
# Submission: Int

response = None
response = 5.1
assert_dataframe_viewing_5(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
5.1

Correct answer:
5.1

In [20]:
# How many counts of value 7.7 exists in the Series?
# Submission: Int

response = None
response = 4
assert_dataframe_viewing_6(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
4

Correct answer:
4

In [21]:
# Return a Series of sepal_length with all the values squared.
# Submission: Dataframe

import numpy as np

response = None
response = df.copy()['sepal_length']
response = response.apply(np.square)
assert_dataframe_viewing_7(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
0      26.01
1      24.01
2      22.09
3      21.16
4      25.00
       ...
145    44.89
146    39.69
147    42.25
148    38.44
149    34.81
Name: sepal_length, Length: 150, dtype: float64

Correct answer:
0      26.01
1      24.01
2      22.09
3      21.16
4      25.00
       ...
145    44.89
146    39.69
147    42.25
148    38.44
149    34.81
Name: sepal_length, Length: 150, dtype: float64