## Setup

In [1]:
# Import solution and data

from solution import *
import databank as db

In [2]:
# Pandas import convention

import pandas as pd

### Series

#### Constructor

In [3]:
# Create a Series with index 1, 2, 3, 4 and values of a, b, c, d, using only the constructor.
# Given parameter(s): None
# Submission: response (Series)

response = pd.Series(data=['a','b','c','d'], index=[1,2,3,4])
assert_series_constructor_data_value_1(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
1    a
2    b
3    c
4    d
dtype: object

Correct answer:
1    a
2    b
3    c
4    d
dtype: object

In [4]:
# Create a Series with index a, b, c, d and values of 1, 2, 3, 4, using only the constructor.
# Given parameter(s): None
# Submission: response (Series)

response = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
assert_series_constructor_data_value_2(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
a    1
b    2
c    3
d    4
dtype: int64

Correct answer:
a    1
b    2
c    3
d    4
dtype: int64

In [5]:
# Create a Series with the given data. The data is an array of integers but the Series must contain data of type float.
# Given parameter(s): data ([Int])
# Submission: response (Series)
# Hint: Check what other parameters the Series constructor takes in.

data = [1,2,3,4]
response = pd.Series(data, dtype=float)
assert_series_constructor_dtype_1(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

Correct answer:
0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [6]:
# Given the following parameters, create an empty Series, and name it 'MySeries'.
# Given parameter(s): data ([Int]), index ([Str]), dtype (Int)
# Submission: response (Series)

data = [1,2,3,4]
index = ['a','b','c','d']
dtype = int

response = pd.Series(data, index, dtype, 'MySeries')
assert_series_constructor_name_1(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
a    1
b    2
c    3
d    4
Name: MySeries, dtype: int64

Correct answer:
a    1
b    2
c    3
d    4
Name: MySeries, dtype: int64

#### Attributes

In [7]:
# Return a tuple of the shape of the given series object. You must use one of the already available attributes to submit your response. No peeking at the given series object!
# Given parameter(s): series (Series)
# Submission: response (Series)

series = db.shape_data

response = series.shape
assert_series_attribute_shape_1(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
(13,)

Correct answer:
(13,)

### Dataframe

#### Constructor

In [8]:
# Create a DataFrame object, where 1, 2, 3 are in the first row, 4, 5, 6, are in the second row, and 7, 8, 9 are in the third row.
# Given parameter(s): None
# Submission: response (DataFrame)

response = db.basic_dataframe
assert_dataframe_constructor_1(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

Correct answer:
   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [9]:
# Given the same dataframe as above, modify it so that the columns are x, y, and z.
# Given parameter(s): None
# Submission: response (DataFrame)

response = db.basic_dataframe
response.columns = ['x', 'y', 'z']
assert_dataframe_constructor_2(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
   x  y  z
0  1  2  3
1  4  5  6
2  7  8  9

Correct answer:
   x  y  z
0  1  2  3
1  4  5  6
2  7  8  9

### General Functions
##### We will use the iris sample data set to practice using series and dataframes. Although there are multiple workarounds to return the same answer, the point of this exercise is to use the built-in pandas functions to come up with the most concise and elegant solutions.

In [10]:
data = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')

In [11]:
# The data is already in the dataframe type.
type(data)

pandas.core.frame.DataFrame

In [12]:
# Rename the object to df.
df = data
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [13]:
# We will extract a series object from the dataframe.
s = data['sepal_length']
s

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [14]:
# You can confirm here that the object type is Series.
type(s)

pandas.core.series.Series

##### We now have our dataframe and series object to practice with.

#### Viewing Data

In [15]:
# Return the first 10 rows of the given DataFrame.
# Given parameter(s): df (DataFrame)
# Submission: response (DataFrame)
# Hint: The function name is a part of your body!

df

response = df.head(10)
assert_viewing_1_1(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

Correct answer:
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [16]:
# Return the last 10 rows of the given DataFrame.
# Given parameter(s): df (DataFrame)
# Submission: response (DataFrame)
# Hint: Some animals have this body part, but you don't!

df

response = df.tail(10)
assert_viewing_2_1(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
     sepal_length  sepal_width  petal_length  petal_width    species
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

Correct answer:
     sepal_length  sepal_width  petal_length  petal_width    species
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [17]:
# Return the # of rows and columns in the form of tuple.
# Given parameter(s): df (DataFrame)
# Submission: response (Tuple)

df

response = df.shape
assert_viewing_3_1(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
(150, 5)

Correct answer:
(150, 5)

In [18]:
# What is the dtype for the species column?
# Given parameter(s): df (DataFrame)
# Submission: response (Str)

df

response = 'object'
assert_viewing_4_1(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
object

Correct answer:
object

In [19]:
# What is the 75 percentile for petal_length?
# Given parameter(s): df (DataFrame)
# Submission: response (Int)

df

response = 5.1
assert_viewing_5_1(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
5.1

Correct answer:
5.1

In [20]:
# How many counts of value 7.7 exists in the Series?
# Given parameter(s): s (Series)
# Submission: response (Int)

s

response = 4
assert_viewing_6_1(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
4

Correct answer:
4

In [21]:
# Return a Series of sepal_length with all the values squared.
# Given parameter(s): df (DataFrame)
# Submission: response (Series)

import numpy as np

response = df.copy()['sepal_length']
response = response.apply(np.square)
assert_viewing_7_1(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
0      26.01
1      24.01
2      22.09
3      21.16
4      25.00
       ...
145    44.89
146    39.69
147    42.25
148    38.44
149    34.81
Name: sepal_length, Length: 150, dtype: float64

Correct answer:
0      26.01
1      24.01
2      22.09
3      21.16
4      25.00
       ...
145    44.89
146    39.69
147    42.25
148    38.44
149    34.81
Name: sepal_length, Length: 150, dtype: float64

#### Selecting Data

In [22]:
# Return the petal_width column as a Series.
# Given parameter(s): df (DataFrame)
# Submission: response (Series)

df

response = df['petal_width']
assert_selecting_1_1(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: petal_width, Length: 150, dtype: float64

Correct answer:
0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: petal_width, Length: 150, dtype: float64

In [23]:
# Return the sepal_length and sepal_width columns as a DataFrame.
# Given parameter(s): df (DataFrame)
# Submission: response (DataFrame)

df

response = df[['petal_width', 'petal_length']]
assert_selecting_2_1(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
     petal_width  petal_length
0            0.2           1.4
1            0.2           1.4
2            0.2           1.3
3            0.2           1.5
4            0.2           1.4
..           ...           ...
145          2.3           5.2
146          1.9           5.0
147          2.0           5.2
148          2.3           5.4
149          1.8           5.1

[150 rows x 2 columns]

Correct answer:
     petal_width  petal_length
0            0.2           1.4
1            0.2           1.4
2            0.2           1.3
3            0.2           1.5
4            0.2           1.4
..           ...           ...
145          2.3           5.2
146          1.9           5.0
147          2.0           5.2
148          2.3           5.4
149          1.8           5.1

[150 rows x 2 columns]

In [24]:
# Return the value at position 100 in the Series.
# Given parameter(s): s (Series)
# Submission: response (Int)

s

response = s.iloc[100]
assert_selecting_3_1(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
6.3

Correct answer:
6.3

In [25]:
# Return the value at index '100th_index' in the given Series.
# Given parameter(s): modified_index_s (Series)
# Submission: response (Int)

modified_index_s = db.modified_index_s

response = modified_index_s.loc['100th_index']
assert_selecting_4_1(response)

*********************************
***   Incorrect, try again!   ***
*********************************

Your response:
3.3

Correct answer:
6.3

In [26]:
# Return the value at row index 15 and column index 3 in the DataFrame.
# Given parameter(s): df (DataFrame)
# Submission: response (Int)

df

response = df.iloc[15, 3]
assert_selecting_5_1(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
0.4

Correct answer:
0.4

In [27]:
# Return the values at row index 3 in the DataFrame as a Series.
# Given parameter(s): df (DataFrame)
# Submission: response (Series)

df

response = df.iloc[3, :]
assert_selecting_5_2(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
sepal_length       4.6
sepal_width        3.1
petal_length       1.5
petal_width        0.2
species         setosa
Name: 3, dtype: object

Correct answer:
sepal_length       4.6
sepal_width        3.1
petal_length       1.5
petal_width        0.2
species         setosa
Name: 3, dtype: object

In [28]:
# Return the values at row indices 18 to 20 (exclusive) and column indices 1 to 3 (exclusive) in the DataFrame as a DataFrame.
# Given parameter(s): df (DataFrame)
# Submission: response (DataFrame)

df

response = df.iloc[18:20, 1:3]
assert_selecting_5_3(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
    sepal_width  petal_length
18          3.8           1.7
19          3.8           1.5

Correct answer:
    sepal_width  petal_length
18          3.8           1.7
19          3.8           1.5

#### Cleaning
##### We will use the iris sample data set to practice using series and dataframes. This time, however, I have modified the dataframe so as to include NaN values, as shown below.

In [29]:
modified_df = db.modified_iris_dataframe
modified_s = df['sepal_width']

In [30]:
# Using a copy of the original DataFrame, return a modified version of it where all the rows that contain null values are dropped.
# Given parameter(s): copy_df (DataFrame)
# Submission: response (DataFrame)

copy_df = modified_df.copy()

response = copy_df.dropna()
assert_cleaning_1_1(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
7             5.0          3.4           1.5          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
9             4.9          3.1           1.5          0.1     setosa
..            ...          ...           ...          ...        ...
135           7.7          3.0           6.1          2.3  virginica
136           6.3          3.4           5.6          2.4  virginica
137           6.4          3.1           5.5          1.8  virginica
138           6.0          3.0           4.8          1.8  virginica
139           6.9          3.1           5.4          2.1  virginica

[85 rows x 5 columns]

Correct answer:
     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
7             5.0          3.4           1.5          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
9             4.9          3.1           1.5          0.1     setosa
..            ...          ...           ...          ...        ...
135           7.7          3.0           6.1          2.3  virginica
136           6.3          3.4           5.6          2.4  virginica
137           6.4          3.1           5.5          1.8  virginica
138           6.0          3.0           4.8          1.8  virginica
139           6.9          3.1           5.4          2.1  virginica

[85 rows x 5 columns]

In [31]:
# Using a copy of the original DataFrame, return a modified version of it where all the columns that contain null values are dropped.
# Given parameter(s): copy_df (DataFrame)
# Submission: response (DataFrame)

copy_df = modified_df.copy()

response = copy_df.dropna(axis = 1)
assert_cleaning_1_2(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
     sepal_width    species
0            3.5     setosa
1            3.0     setosa
2            3.2     setosa
3            3.1     setosa
4            3.6     setosa
..           ...        ...
145          3.0  virginica
146          2.5  virginica
147          3.0  virginica
148          3.4  virginica
149          3.0  virginica

[150 rows x 2 columns]

Correct answer:
     sepal_width    species
0            3.5     setosa
1            3.0     setosa
2            3.2     setosa
3            3.1     setosa
4            3.6     setosa
..           ...        ...
145          3.0  virginica
146          2.5  virginica
147          3.0  virginica
148          3.4  virginica
149          3.0  virginica

[150 rows x 2 columns]

In [32]:
# Using a copy of the original DataFrame, return a modified version of it where all the columns that have fewer than 120 non-null values are dropped.
# Given parameter(s): copy_df (DataFrame)
# Submission: response (DataFrame)

copy_df = modified_df.copy()

response = copy_df.dropna(axis = 1, thresh = 120)
assert_cleaning_1_3(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
     sepal_length  sepal_width  petal_width    species
0             5.1          3.5          0.2     setosa
1             4.9          3.0          0.2     setosa
2             NaN          3.2          0.2     setosa
3             NaN          3.1          0.2     setosa
4             NaN          3.6          0.2     setosa
..            ...          ...          ...        ...
145           6.7          3.0          NaN  virginica
146           6.3          2.5          NaN  virginica
147           6.5          3.0          NaN  virginica
148           6.2          3.4          NaN  virginica
149           5.9          3.0          NaN  virginica

[150 rows x 4 columns]

Correct answer:
     sepal_length  sepal_width  petal_width    species
0             5.1          3.5          0.2     setosa
1             4.9          3.0          0.2     setosa
2             NaN          3.2          0.2     setosa
3             NaN          3.1          0.2     setosa
4             NaN          3.6          0.2     setosa
..            ...          ...          ...        ...
145           6.7          3.0          NaN  virginica
146           6.3          2.5          NaN  virginica
147           6.5          3.0          NaN  virginica
148           6.2          3.4          NaN  virginica
149           5.9          3.0          NaN  virginica

[150 rows x 4 columns]

In [33]:
# Using a copy of the original Series, return a modified version of it where the cells with None values are replaced with the median.
# Given parameter(s): copy_s (Series)
# Submission: response (Series)

copy_s = modified_df['sepal_length'].copy()

response = copy_s.fillna(s.median())
assert_cleaning_2_1(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
0      5.1
1      4.9
2      5.8
3      5.8
4      5.8
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

Correct answer:
0      5.1
1      4.9
2      5.8
3      5.8
4      5.8
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [34]:
# Using a copy of the original DataFrame, return a modified version of it where the cells with None values are replaced with the median.
# Given parameter(s): copy_df (DataFrame)
# Submission: response (DataFrame)

copy_df = modified_df.copy()

response = copy_df.fillna(s.mean())
assert_cleaning_2_2(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
     sepal_length  sepal_width  petal_length  petal_width    species
0        5.100000          3.5           1.4     0.200000     setosa
1        4.900000          3.0           1.4     0.200000     setosa
2        5.843333          3.2           1.3     0.200000     setosa
3        5.843333          3.1           1.5     0.200000     setosa
4        5.843333          3.6           1.4     0.200000     setosa
..            ...          ...           ...          ...        ...
145      6.700000          3.0           5.2     5.843333  virginica
146      6.300000          2.5           5.0     5.843333  virginica
147      6.500000          3.0           5.2     5.843333  virginica
148      6.200000          3.4           5.4     5.843333  virginica
149      5.900000          3.0           5.1     5.843333  virginica

[150 rows x 5 columns]

Correct answer:
     sepal_length  sepal_width  petal_length  petal_width    species
0        5.100000          3.5           1.4     0.200000     setosa
1        4.900000          3.0           1.4     0.200000     setosa
2        5.843333          3.2           1.3     0.200000     setosa
3        5.843333          3.1           1.5     0.200000     setosa
4        5.843333          3.6           1.4     0.200000     setosa
..            ...          ...           ...          ...        ...
145      6.700000          3.0           5.2     5.843333  virginica
146      6.300000          2.5           5.0     5.843333  virginica
147      6.500000          3.0           5.2     5.843333  virginica
148      6.200000          3.4           5.4     5.843333  virginica
149      5.900000          3.0           5.1     5.843333  virginica

[150 rows x 5 columns]

In [35]:
# Using a copy of the original Series, return a modified version of it where the cells are converted into type Int.
# Given parameter(s): copy_s (Series)
# Submission: response (Series)

copy_s = modified_s.copy()

response = copy_s.astype(int)
assert_cleaning_3_1(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
0      3
1      3
2      3
3      3
4      3
      ..
145    3
146    2
147    3
148    3
149    3
Name: sepal_width, Length: 150, dtype: int64

Correct answer:
0      3
1      3
2      3
3      3
4      3
      ..
145    3
146    2
147    3
148    3
149    3
Name: sepal_width, Length: 150, dtype: int64

In [36]:
# Using a copy of the original Series, return a modified version of it where the cells with value 3.0 or 2.0 are replaced with 'Three' and 'Two' as strings, respectively.
# Given parameter(s): copy_s (Series)
# Submission: response (Series)

copy_s = modified_s.copy()

response = copy_s.replace([3.0, 2.0], ['Three', 'Two'])
assert_cleaning_4_1(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
0        3.5
1      Three
2        3.2
3        3.1
4        3.6
       ...
145    Three
146      2.5
147    Three
148      3.4
149    Three
Name: sepal_width, Length: 150, dtype: object

Correct answer:
0        3.5
1      Three
2        3.2
3        3.1
4        3.6
       ...
145    Three
146      2.5
147    Three
148      3.4
149    Three
Name: sepal_width, Length: 150, dtype: object

#### Filter, Sort, and Groupby

In [37]:
# Return a new DataFrame object with rows that have the petal_width value less than 1.
# Given parameter(s): df (DataFrame)
# Submission: response (DataFrame)

df

response = df[(df['petal_width'] < 1)]
assert_filter_1_1(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa
21           5.1          3.7           1.5          0.4  setosa
22           4.6          3.6           1.0          0.2  setosa
23           5.1          3.3           1.7          0.5  setosa
24           4.8          3.4           1.9          0.2  setosa
25           5.0          3.0           1.6          0.2  setosa
26           5.0          3.4           1.6          0.4  setosa
27           5.2          3.5           1.5          0.2  setosa
28           5.2          3.4           1.4          0.2  setosa
29           4.7          3.2           1.6          0.2  setosa
30           4.8          3.1           1.6          0.2  setosa
31           5.4          3.4           1.5          0.4  setosa
32           5.2          4.1           1.5          0.1  setosa
33           5.5          4.2           1.4          0.2  setosa
34           4.9          3.1           1.5          0.2  setosa
35           5.0          3.2           1.2          0.2  setosa
36           5.5          3.5           1.3          0.2  setosa
37           4.9          3.6           1.4          0.1  setosa
38           4.4          3.0           1.3          0.2  setosa
39           5.1          3.4           1.5          0.2  setosa
40           5.0          3.5           1.3          0.3  setosa
41           4.5          2.3           1.3          0.3  setosa
42           4.4          3.2           1.3          0.2  setosa
43           5.0          3.5           1.6          0.6  setosa
44           5.1          3.8           1.9          0.4  setosa
45           4.8          3.0           1.4          0.3  setosa
46           5.1          3.8           1.6          0.2  setosa
47           4.6          3.2           1.4          0.2  setosa
48           5.3          3.7           1.5          0.2  setosa
49           5.0          3.3           1.4          0.2  setosa

Correct answer:
    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa
21           5.1          3.7           1.5          0.4  setosa
22           4.6          3.6           1.0          0.2  setosa
23           5.1          3.3           1.7          0.5  setosa
24           4.8          3.4           1.9          0.2  setosa
25           5.0          3.0           1.6          0.2  setosa
26           5.0          3.4           1.6          0.4  setosa
27           5.2          3.5           1.5          0.2  setosa
28           5.2          3.4           1.4          0.2  setosa
29           4.7          3.2           1.6          0.2  setosa
30           4.8          3.1           1.6          0.2  setosa
31           5.4          3.4           1.5          0.4  setosa
32           5.2          4.1           1.5          0.1  setosa
33           5.5          4.2           1.4          0.2  setosa
34           4.9          3.1           1.5          0.2  setosa
35           5.0          3.2           1.2          0.2  setosa
36           5.5          3.5           1.3          0.2  setosa
37           4.9          3.6           1.4          0.1  setosa
38           4.4          3.0           1.3          0.2  setosa
39           5.1          3.4           1.5          0.2  setosa
40           5.0          3.5           1.3          0.3  setosa
41           4.5          2.3           1.3          0.3  setosa
42           4.4          3.2           1.3          0.2  setosa
43           5.0          3.5           1.6          0.6  setosa
44           5.1          3.8           1.9          0.4  setosa
45           4.8          3.0           1.4          0.3  setosa
46           5.1          3.8           1.6          0.2  setosa
47           4.6          3.2           1.4          0.2  setosa
48           5.3          3.7           1.5          0.2  setosa
49           5.0          3.3           1.4          0.2  setosa

In [38]:
# Return a new DataFrame object with rows that have the petal_width value less than 1 but greater than 0.5.
# Given parameter(s): df (DataFrame)
# Submission: response (DataFrame)

df

response = df[(df['petal_width'] > 0.5) & (df['petal_width'] < 1)]
assert_filter_1_2(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
    sepal_length  sepal_width  petal_length  petal_width species
43           5.0          3.5           1.6          0.6  setosa

Correct answer:
    sepal_length  sepal_width  petal_length  petal_width species
43           5.0          3.5           1.6          0.6  setosa

In [39]:
# Using a copy of the original DataFrame, return a modified version of it where the rows are sorted by the petal_length values in ascending order.
# Given parameter(s): copy_df (DataFrame)
# Submission: response (DataFrame)

copy_df = df.copy()

response = copy_df.sort_values('petal_length')
assert_sort_1_1(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
     sepal_length  sepal_width  petal_length  petal_width    species
22            4.6          3.6           1.0          0.2     setosa
13            4.3          3.0           1.1          0.1     setosa
14            5.8          4.0           1.2          0.2     setosa
35            5.0          3.2           1.2          0.2     setosa
36            5.5          3.5           1.3          0.2     setosa
..            ...          ...           ...          ...        ...
131           7.9          3.8           6.4          2.0  virginica
105           7.6          3.0           6.6          2.1  virginica
117           7.7          3.8           6.7          2.2  virginica
122           7.7          2.8           6.7          2.0  virginica
118           7.7          2.6           6.9          2.3  virginica

[150 rows x 5 columns]

Correct answer:
     sepal_length  sepal_width  petal_length  petal_width    species
22            4.6          3.6           1.0          0.2     setosa
13            4.3          3.0           1.1          0.1     setosa
14            5.8          4.0           1.2          0.2     setosa
35            5.0          3.2           1.2          0.2     setosa
36            5.5          3.5           1.3          0.2     setosa
..            ...          ...           ...          ...        ...
131           7.9          3.8           6.4          2.0  virginica
105           7.6          3.0           6.6          2.1  virginica
117           7.7          3.8           6.7          2.2  virginica
122           7.7          2.8           6.7          2.0  virginica
118           7.7          2.6           6.9          2.3  virginica

[150 rows x 5 columns]

In [40]:
# Using a copy of the original DataFrame, return a modified version of it where the rows are sorted by the petal_length values in descending order.
# Given parameter(s): copy_df (DataFrame)
# Submission: response (DataFrame)

copy_df = df.copy()

response = copy_df.sort_values('petal_length', ascending = False)
assert_sort_1_2(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
     sepal_length  sepal_width  petal_length  petal_width    species
118           7.7          2.6           6.9          2.3  virginica
122           7.7          2.8           6.7          2.0  virginica
117           7.7          3.8           6.7          2.2  virginica
105           7.6          3.0           6.6          2.1  virginica
131           7.9          3.8           6.4          2.0  virginica
..            ...          ...           ...          ...        ...
16            5.4          3.9           1.3          0.4     setosa
35            5.0          3.2           1.2          0.2     setosa
14            5.8          4.0           1.2          0.2     setosa
13            4.3          3.0           1.1          0.1     setosa
22            4.6          3.6           1.0          0.2     setosa

[150 rows x 5 columns]

Correct answer:
     sepal_length  sepal_width  petal_length  petal_width    species
118           7.7          2.6           6.9          2.3  virginica
122           7.7          2.8           6.7          2.0  virginica
117           7.7          3.8           6.7          2.2  virginica
105           7.6          3.0           6.6          2.1  virginica
131           7.9          3.8           6.4          2.0  virginica
..            ...          ...           ...          ...        ...
16            5.4          3.9           1.3          0.4     setosa
35            5.0          3.2           1.2          0.2     setosa
14            5.8          4.0           1.2          0.2     setosa
13            4.3          3.0           1.1          0.1     setosa
22            4.6          3.6           1.0          0.2     setosa

[150 rows x 5 columns]

In [41]:
# Using a copy of the original DataFrame, return a modified version of it where the rows are sorted by the petal_length in ascending order, then by the petal_width in descending order.
# Given parameter(s): copy_df (DataFrame)
# Submission: response (DataFrame)

copy_df = df.copy()

response = copy_df.sort_values(['petal_length', 'petal_width'], ascending = [True, False])
assert_sort_1_3(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
     sepal_length  sepal_width  petal_length  petal_width    species
22            4.6          3.6           1.0          0.2     setosa
13            4.3          3.0           1.1          0.1     setosa
14            5.8          4.0           1.2          0.2     setosa
35            5.0          3.2           1.2          0.2     setosa
16            5.4          3.9           1.3          0.4     setosa
..            ...          ...           ...          ...        ...
131           7.9          3.8           6.4          2.0  virginica
105           7.6          3.0           6.6          2.1  virginica
117           7.7          3.8           6.7          2.2  virginica
122           7.7          2.8           6.7          2.0  virginica
118           7.7          2.6           6.9          2.3  virginica

[150 rows x 5 columns]

Correct answer:
     sepal_length  sepal_width  petal_length  petal_width    species
22            4.6          3.6           1.0          0.2     setosa
13            4.3          3.0           1.1          0.1     setosa
14            5.8          4.0           1.2          0.2     setosa
35            5.0          3.2           1.2          0.2     setosa
16            5.4          3.9           1.3          0.4     setosa
..            ...          ...           ...          ...        ...
131           7.9          3.8           6.4          2.0  virginica
105           7.6          3.0           6.6          2.1  virginica
117           7.7          3.8           6.7          2.2  virginica
122           7.7          2.8           6.7          2.0  virginica
118           7.7          2.6           6.9          2.3  virginica

[150 rows x 5 columns]

In [42]:
# Using a copy of the original DataFrame, find the average across all columns for every unique 'petal_width' group.
# Given parameter(s): copy_df (DataFrame)
# Submission: response (DataFrame)
# Hint: You can use groupby() and mean().

copy_df = df.copy()

response = copy_df.groupby('petal_width').mean()
assert_groupby_1_1(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
             sepal_length  sepal_width  petal_length
petal_width
0.1              4.820000     3.360000      1.380000
0.2              4.972414     3.379310      1.444828
0.3              4.971429     3.328571      1.428571
0.4              5.300000     3.785714      1.571429
0.5              5.100000     3.300000      1.700000
0.6              5.000000     3.500000      1.600000
1.0              5.414286     2.371429      3.628571
1.1              5.400000     2.466667      3.566667
1.2              5.780000     2.740000      4.240000
1.3              5.884615     2.746154      4.176923
1.4              6.325000     2.912500      4.637500
1.5              6.183333     2.816667      4.658333
1.6              6.375000     3.100000      5.025000
1.7              5.800000     2.750000      4.750000
1.8              6.400000     2.941667      5.333333
1.9              6.340000     2.680000      5.320000
2.0              6.650000     3.016667      5.550000
2.1              6.916667     3.033333      5.783333
2.2              6.866667     3.200000      6.033333
2.3              6.912500     3.087500      5.700000
2.4              6.266667     3.100000      5.433333
2.5              6.733333     3.400000      5.933333

Correct answer:
             sepal_length  sepal_width  petal_length
petal_width
0.1              4.820000     3.360000      1.380000
0.2              4.972414     3.379310      1.444828
0.3              4.971429     3.328571      1.428571
0.4              5.300000     3.785714      1.571429
0.5              5.100000     3.300000      1.700000
0.6              5.000000     3.500000      1.600000
1.0              5.414286     2.371429      3.628571
1.1              5.400000     2.466667      3.566667
1.2              5.780000     2.740000      4.240000
1.3              5.884615     2.746154      4.176923
1.4              6.325000     2.912500      4.637500
1.5              6.183333     2.816667      4.658333
1.6              6.375000     3.100000      5.025000
1.7              5.800000     2.750000      4.750000
1.8              6.400000     2.941667      5.333333
1.9              6.340000     2.680000      5.320000
2.0              6.650000     3.016667      5.550000
2.1              6.916667     3.033333      5.783333
2.2              6.866667     3.200000      6.033333
2.3              6.912500     3.087500      5.700000
2.4              6.266667     3.100000      5.433333
2.5              6.733333     3.400000      5.933333

In [43]:
# Using a copy of the original DataFrame, find the max across all columns for every unique 'petal_width' group and every unique 'petal_length' group.
# Given parameter(s): copy_df (DataFrame)
# Submission: response (DataFrame)
# Hint: You can use groupby() and max().

copy_df = df.copy()

response = copy_df.groupby(['petal_width', 'petal_length']).max()
assert_groupby_1_2(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
                          sepal_length  sepal_width    species
petal_width petal_length
0.1         1.1                    4.3          3.0     setosa
            1.4                    4.9          3.6     setosa
            1.5                    5.2          4.1     setosa
0.2         1.0                    4.6          3.6     setosa
            1.2                    5.8          4.0     setosa
...                                ...          ...        ...
2.4         5.1                    5.8          2.8  virginica
            5.6                    6.7          3.4  virginica
2.5         5.7                    6.7          3.3  virginica
            6.0                    6.3          3.3  virginica
            6.1                    7.2          3.6  virginica

[102 rows x 3 columns]

Correct answer:
                          sepal_length  sepal_width    species
petal_width petal_length
0.1         1.1                    4.3          3.0     setosa
            1.4                    4.9          3.6     setosa
            1.5                    5.2          4.1     setosa
0.2         1.0                    4.6          3.6     setosa
            1.2                    5.8          4.0     setosa
...                                ...          ...        ...
2.4         5.1                    5.8          2.8  virginica
            5.6                    6.7          3.4  virginica
2.5         5.7                    6.7          3.3  virginica
            6.0                    6.3          3.3  virginica
            6.1                    7.2          3.6  virginica

[102 rows x 3 columns]

In [44]:
# Using a copy of the original DataFrame, return a new DataFrame with the np.mean() function applied across each column.
# Given parameter(s): copy_df (DataFrame)
# Submission: response (DataFrame)

copy_df = df.copy()

response = copy_df.iloc[:, :-1].apply(np.mean)
assert_apply_1_1(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
dtype: float64

Correct answer:
sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
dtype: float64

#### Joining Multiple DataFrames
##### Please use the following dataframes to respond below.

In [45]:
left_df = db.left_half_dataframe
right_df = db.right_half_dataframe
top_df = db.top_half_dataframe
bottom_df = db.bottom_half_dataframe

In [46]:
# Add the rows bottom_df to the end of top_df.
# Given parameter(s): top_df (DataFrame) / bottom_df (DataFrame)
# Submission: response (DataFrame)
top_df
bottom_df

response = top_df.append(bottom_df)
assert_joining_1_1(response)
response

******************************
***   Correct, good job!   ***
******************************

Your response:
     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

Correct answer:
     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [47]:
# Add the rows top_df to the end of bottom_df.
# Given parameter(s): top_df (DataFrame) / bottom_df (DataFrame)
# Submission: response (DataFrame)
top_df
bottom_df

response = bottom_df.append(top_df)
assert_joining_1_2(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
    sepal_length  sepal_width  petal_length  petal_width     species
75           6.6          3.0           4.4          1.4  versicolor
76           6.8          2.8           4.8          1.4  versicolor
77           6.7          3.0           5.0          1.7  versicolor
78           6.0          2.9           4.5          1.5  versicolor
79           5.7          2.6           3.5          1.0  versicolor
..           ...          ...           ...          ...         ...
70           5.9          3.2           4.8          1.8  versicolor
71           6.1          2.8           4.0          1.3  versicolor
72           6.3          2.5           4.9          1.5  versicolor
73           6.1          2.8           4.7          1.2  versicolor
74           6.4          2.9           4.3          1.3  versicolor

[150 rows x 5 columns]

Correct answer:
    sepal_length  sepal_width  petal_length  petal_width     species
75           6.6          3.0           4.4          1.4  versicolor
76           6.8          2.8           4.8          1.4  versicolor
77           6.7          3.0           5.0          1.7  versicolor
78           6.0          2.9           4.5          1.5  versicolor
79           5.7          2.6           3.5          1.0  versicolor
..           ...          ...           ...          ...         ...
70           5.9          3.2           4.8          1.8  versicolor
71           6.1          2.8           4.0          1.3  versicolor
72           6.3          2.5           4.9          1.5  versicolor
73           6.1          2.8           4.7          1.2  versicolor
74           6.4          2.9           4.3          1.3  versicolor

[150 rows x 5 columns]

In [48]:
# Add the columns right_df to the right of left_df.
# Given parameter(s): right_df (DataFrame) / left_df (DataFrame)
# Submission: response (DataFrame)

right_df
left_df

response = pd.concat([left_df, right_df], axis = 1)
assert_joining_2_1(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

Correct answer:
     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [49]:
# Add the columns left_df to the right of right_df.
# Given parameter(s): right_df (DataFrame) / left_df (DataFrame)
# Submission: response (DataFrame)
right_df
left_df

response = pd.concat([right_df, left_df], axis = 1)
assert_joining_2_2(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
     petal_length  petal_width    species  sepal_length  sepal_width
0             1.4          0.2     setosa           5.1          3.5
1             1.4          0.2     setosa           4.9          3.0
2             1.3          0.2     setosa           4.7          3.2
3             1.5          0.2     setosa           4.6          3.1
4             1.4          0.2     setosa           5.0          3.6
..            ...          ...        ...           ...          ...
145           5.2          2.3  virginica           6.7          3.0
146           5.0          1.9  virginica           6.3          2.5
147           5.2          2.0  virginica           6.5          3.0
148           5.4          2.3  virginica           6.2          3.4
149           5.1          1.8  virginica           5.9          3.0

[150 rows x 5 columns]

Correct answer:
     petal_length  petal_width    species  sepal_length  sepal_width
0             1.4          0.2     setosa           5.1          3.5
1             1.4          0.2     setosa           4.9          3.0
2             1.3          0.2     setosa           4.7          3.2
3             1.5          0.2     setosa           4.6          3.1
4             1.4          0.2     setosa           5.0          3.6
..            ...          ...        ...           ...          ...
145           5.2          2.3  virginica           6.7          3.0
146           5.0          1.9  virginica           6.3          2.5
147           5.2          2.0  virginica           6.5          3.0
148           5.4          2.3  virginica           6.2          3.4
149           5.1          1.8  virginica           5.9          3.0

[150 rows x 5 columns]

#### Statistics

In [50]:
# Return a description matrix of the given DataFrame, which displays the count, mean, standard deviation, minimum, maximum, 25th percentile, 50th percentile, and the 75th percentile.
# Given parameter(s): df (DataFrame)
# Submission: response (DataFrame)

df

response = df.describe()
assert_statistics_1_1(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

Correct answer:
       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [51]:
# Return a correlation matrix, which shows the correlations of pairs across each column.
# Given parameter(s): df (DataFrame)
# Submission: response (DataFrame)

df

response = df.corr()
assert_statistics_2_1(response)

******************************
***   Correct, good job!   ***
******************************

Your response:
              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.117570      0.871754     0.817941
sepal_width      -0.117570     1.000000     -0.428440    -0.366126
petal_length      0.871754    -0.428440      1.000000     0.962865
petal_width       0.817941    -0.366126      0.962865     1.000000

Correct answer:
              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.117570      0.871754     0.817941
sepal_width      -0.117570     1.000000     -0.428440    -0.366126
petal_length      0.871754    -0.428440      1.000000     0.962865
petal_width       0.817941    -0.366126      0.962865     1.000000


### Congratulations! You finished the basic introduction to the Pandas library!